@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --toast-bg: #ffffff;
    --toast-color: #374151;
    --toast-border: #e5e7eb;
}

.dark {
    --toast-bg: #262626;
    --toast-color: #f3f4f6;
    --toast-border: #404040;
}

html {
    @apply dark:text-white;
}

html * {
    @apply transition duration-300;
}

.btn {
    @apply px-3 py-2 rounded cursor-pointer transition;
}

.btn-primary {
    @apply bg-orange-500 hover:bg-orange-700;
}

.btn-icon {
    @apply hover:bg-orange-500
}

.icon-edit {
    @apply text-gray-600 dark:text-white;
}

.icon-delete {
    @apply text-red-500
}

.btn-icon:hover * {
    @apply text-white;
}

.form-title {
    @apply font-bold text-lg;
}

.form-input {
    @apply focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-orange-500 border border-gray-300 dark:border-neutral-600 rounded-md px-2 py-3 bg-white dark:bg-neutral-800 w-full hover:border-orange-500
}

.form-description {
    @apply text-sm mt-2 text-gray-400 dark:text-gray-300;
}